<div class="sidebar">
    <div class="my-image">
        <img src="assets/images/ntspl_logo.png">
    </div>

    <div class="sidemenu">
        <ul>
            <li class="Dashboard-hover"> <a>Dashboard</a></li>
            <li class="menu"><a>1-Time Manage</a></li>
            <li class="sub-menu"><a>Manage State</a></li>
            <li class="sub-menu"><a>Manage City</a></li>
            <li class="sub-menu"><a>Blocks</a></li>
            <li class="sub-menu"><a>Floor</a></li>
            <li class="sub-menu"><a>House</a></li>

            <li>
                <a routerLink="master/timeslot">Time Slot</a>
            </li>
            <li class="menu2"><a>Maintenance</a></li>
            <li><a>Charges</a></li>

            <li><a>Recommended Books</a></li>
            <li><a>Role Management</a></li>
            <li><a>Members</a></li>
            <li><a>Complains</a></li>
            <li><a>Events</a></li>
            <li><a>Notice Board</a></li>
            <li><a>Financial</a></li>
            <li><a>Security Guard</a></li>
            <li><a>Visitors</a></li>
            <li><a>Emergency Contacts</a></li>
            <li><a>Service Provider</a></li>
            <li><a>All Vehicles</a></li>
            <li><a>Ads</a></li>
            <li><a>Contact Us Report</a></li>
            <li><a>Logout</a></li>

        </ul>
    </div>

</div>