<div class="mycontainer">
  <div class="my-new-container">
    <div class="new-container">
    <div class="new3">
      <div>
      <h2>Create New Time Slot</h2>
      <span><a class="home" href="index.html">Home</a>/ Manage Time Slot / Add Time Slot </span>
      </div>
      

    </div>
  </div>
  <div class="my-card">
  <div class="heading">
    <div class="row">
      <div class="col-md-4">
        <label class="mylabel">Select Service</label>
        <select class="select-service">
          <option value="">Select</option>
          <option value="">Laundry</option>
          <option value="">Maid</option>
        </select>
      </div>
    </div>
    
    <div class="row">
  
      <div class="col-md-4">
        <label class="mylabel">
          From Time
        </label>
        
        <div class="time-container">
          <div class="my-input">
            <input type="text">
          </div>
          <div class="my-select">
            <select name="" id="">
              <option value="">AM</option>
              <option value="">PM</option>
              
            </select>
          </div>
       
        
        </div>
      </div>
      <div class="col-md-4">
        <label class="mylabel">
          To Time
        </label>
        
        <div class="time-container">
          <div class="my-input">
            <input type="text">
          </div>
          <div class="my-select">
            <select name="" id="">
              <option value="">AM</option>
              <option value="">PM</option>
              
            </select>
          </div>
       
        
        </div>
      </div>

      <div class="col-md-4 plus">
        <img class="add" src="assets/images/plus.png">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="mylabel">
         Time Slots
        </label>
      </div>
    </div>
    <div class="time">
        <div class="mytime">
        09:00AM-10:00AM
        <img class="remove" src="assets/images/remove.png" alt="">
        </div>
        
        <div class="mytime">
         10:00AM-11:00AM
         <img class="remove" src="assets/images/remove.png" alt="">
      </div>
    <div class="mytime">
        11:00AM-12:00PM
        <img class="remove" src="assets/images/remove.png" alt="">
      </div>
    <div class="mytime">
        12:00PM-01:00PM
        <img class="remove" src="assets/images/remove.png" alt="">
      </div>
      <div class="mytime">
        01:00PM-02:00PM
        <img class="remove" src="assets/images/remove.png" alt="">
      </div>
      <div class="mytime">
        02:00PM-03:00PM
        <img class="remove" src="assets/images/remove.png" alt="">
      </div>
      <div class="mytime">
        03:00PM-04:00PM
        <img class="remove" src="assets/images/remove.png" alt="">
      </div>
      <div class="mytime">
        04:00PM-05:00PM
        <img class="remove" src="assets/images/remove.png" alt="">
      </div>
      <div class="mytime">
        05:00PM-06:00PM
        <img class="remove" src="assets/images/remove.png" alt="">
      </div>
      <div class="mytime">
        06:00PM-07:00PM
        <img class="remove" src="assets/images/remove.png" alt="">
      </div>
      <div class="mytime">
        07:00PM-08:00PM
        <img class="remove" src="assets/images/remove.png" alt="">
      </div>
      <div class="mytime">
        08:00PM-09:00PM
        <img class="remove" src="assets/images/remove.png" alt="">
      </div>
    </div>
    <div class="my-row">
      <span>Active:</span>
      <div class="checkbox">
        <input type="radio" name="status" id="yes" checked="checked"/><span>Yes</span>
      </div>
      <div class="checkbox2"><input type="radio" name="status" id="no" /><span>No</span></div>
    </div>
    <button class="submitbutton mt-3">
      Submit
    </button>

  </div>
</div>
</div>
  </div>

