<div class="my-navbar">
    <div class="left-nav">
      <h4>Property Management - Property Owner Dashboard</h4>
    </div>
    <div class="right-nav">
      <div class="bell position-relative">
        <img src="assets/images/bell.svg" alt="" />
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          1
          <span class="visually-hidden">unread messages</span>
        </span>
      </div>
      <div class="profile">
        <img src="assets/images/admin-pic.png" alt="" />
        <span>Himansu Malla</span>
      </div>
    </div>
  </div>